<div class="row">
	<div class="text-center">
		<h1>Where Should I Go This Vacation</h1>
		<h5>Pick a random hotel package and go</h5>
	</div>
	<div class="small-2 columns">
		<div class="row">
		  <label>Country Code</label>
		  <input type="text" id="country-code" placeholder="USA, CAN, THA...etc" autofocus maxlength="3">
		</div>
		<div class="row">
		  <label>Max Price</label>
		  <input type="number" id="max-price" placeholder="100">
		</div>
		<div class="row">
			<label>Min Hotel Star Rating</label>
		  <select>
				<option name="minStarRating" value="1" id="One Star"><label for="One Star">One Star</option>
				<option name="minStarRating" value="2" id="Two Star"><label for="Two Star">Two Star</option>
				<option name="minStarRating" value="3" id="Three Star"><label for="Three Star">Three Star</option>
				<option name="minStarRating" value="4" id="Four Star"><label for="Four Star">Four Star</option>
				<option name="minStarRating" value="5" id="Five Star"><label for="Five Star">Five Star</option>
	     </select>
		</div>
		<button id="submit">filter</button>
		<%= link_to 'reset', '/', :class => 'button' %>
	</div>

	<div class="small-10 columns">
	<% if @deals.length == 0 %>
		<h2>No Deals Found</h2>
	<% end %>
	<% @deals.each do |deal| %>

		<a href="#" class="thumb" data-reveal-id="<%= deal['hotelId'] %>"><%= image_tag(deal['imageUrl']) %></a>

		<div id="<%= deal['hotelId'] %>" class="reveal-modal" data-reveal>
		  <h2><%= deal['name'] %></h2>
		  <p class="lead"><%= deal['description'].html_safe %></p>
		  <p class="lead" id="country">Country: <%= deal['country'] %></p>
		  <p class="lead" id="star">City: <%= deal['city'] %> <%= deal['province'] %></p>
		  <p class="lead" id="star">Hotel Rating: <%= deal['starRating'] %></p>
		  <p class="lead">Price Per Night: <%= deal['pricePerNight'] %></p>
		  <% if deal['originalBaseRate'] == deal['baseRate'] %>
		  	<p class="lead" id="price">Total: <%= deal['baseRate'] %></p>
		  <% else %>
		 		<p class="lead" id="price">Total: <strike><%= deal['originalBaseRate'] %></strike> <%= deal['baseRate'] %></p>
		  <% end %>
		  <p class="lead"><%= deal['promotionDescription'] %></p>
		  <%= link_to 'Book', URI.unescape(deal['dealDeepLink']), class: "button"	%>

		  <a class="close-reveal-modal">&#215;</a>
		</div>
	<% end %>
	</div>
</div>
<script>
  var filter = {
    getCountry: function() {
      this.country = 'country%3D' + document.getElementById("country-code").value
    },
    getStar: function() {
      this.star = 'minStarRating%3D' + $('option[name="minStarRating"]:selected').val();
    },
    getPrice: function() {
      this.price = 'maxTotalRate%3D' + document.getElementById("max-price").value
    },
    setUrl: function() {
      window.location.replace('?options=' + this.country + '%26' + this.star + '%26' + this.price)
    },
    render: function() {
      this.getCountry()
      this.getStar()
      this.getPrice()
      this.setUrl()
    }
  }
  document.getElementById("submit").onclick = function(){
    filter.render();
  }
</script>
